/* Hacky font fix -- remove when on main site! */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.filter-reward {
    line-height: 30px;
}

.navbar .brand {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar .divider-vertical {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 40px;
    margin: 5px 10px 0 15px;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #ffffff;
}

.navbar .nav {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    left: 0;
    display: block;
    float: left;
    margin: 5px;
}

.navbar-inner {
    padding-left: 80px;
}



/*      Map Marker CSS      */

.marker {
    position: absolute;
    cursor: pointer;
    width: auto;
    height: auto;
    padding: 0;
    color: white;
    font-size: 12px;
}

.marker:hover {
    z-index: 555555;
}

.markerHighlight {
    padding: 0 1px 0 1px;
}
.sublease-highlight {
    background-color: #1694b1;
}
.promo-highlight {
    background-color: #608945;
}
.markerPrice {
    display: inline;
    margin: 0 auto 0 0;
    padding: 2px 4px 2px 8px;
}
.sublease-price {
    background-color: #1694b1;
}
.promo-price {
    background-color: #608945;
}
.markerNumber {
    display: inline;
    margin: 0 0 0 auto;
    padding: 2px 4px 2px 4px;
}
.sublease-number {
    color: #2A7F93;
    background-color: #5ac0d9;
}
.promo-number {
    color: #4c753a;
    background-color: #9ec784;
}
.markerPoint {
    display: block;
    text-align: center;
    margin: 0 auto 0 auto;
    line-height: 100%;
}
.markerPoint img {
    height: 12px;
    vertical-align: top;
}



/* Accordion & listing CSS */
.accordion-group {
    background-color: #f5f5f5;
}

.accordion-heading a {
    font-weight: 300;
    color: #000;
}

.affiliate {
    background: #9ec784 linear-gradient(to bottom, #9ec784, #86ba6b);
    border: 1px solid #608945;
}

.accordion-inner {
    border-top: 1px solid #608945;
}

.width-33 {
    width: 33%;
    box-sizing: border-box;
    padding: 5px;
}

.js-housing {
    height: 600px;
    overflow: scroll;
}

.listing-wrapper {
    display: block;
    padding: 8px 15px;
}

.listing-promo-title {
    float: left;
    font-weight: 300;
    font-size: 1.3rem;
    margin: 0 .75rem;
}

.listing-promo-tag {
    text-align: center;
    background: #608945;
    border: 1px solid #9ec784;
    color: #b4ff84;
    padding: .2rem;
}

.listing-promo-tag p {
    margin: 0 10px 0;
}

.listing-promo-details {
    float: right;
    font-style: italic;
}

.listing-sublease-title {
    float: left;
    font-weight: 400;
    font-size: 1rem;
    margin: 0 .75rem;
}

.listing-sublease-details p {
    float: left;
    margin: 0 10px 12px;
    font-weight: 400;
}

.listing-price {
    float: right;
    font-weight: 300;
    margin: 0 .75rem;
}

.listing-image {
    float: left;
    width: 15%;
    margin: 2px 0 8px;
}

.listing-image img {
    border: 1px solid #608945;
    width: 4rem;
    max-height: 4rem;
}

.listing-info {
    float: left;
    width: 85%;
}

.btn-sublease {
    float: right;
    padding: 2px 6px;
    font-size: 12px;
}

/* Applied to both the map marker and listing on hover */

/* Hi Tracy! The hover outline behavior was starting to get really annoying so I (Rom) did some temporary styling. The first CSS rule affects the listing on the left and the second one affects the marker itself. Please change this at your leisure, we were just tired of the pink outline. No styling for affiliates, either. */

.accordion-group.listing-hover {
    background-color: #cbe5e8;
    border: 1px solid #4d8493;
}

.listing-hover .markerPrice {
    background-color: #5ac0d9;
}